.sold-overlay {
    position: relative;
}
.sold-overlay.light .after{    
    background: rgba(255, 255, 255, .6);
}
.sold-overlay.light .sold-text{
    color: #000;
}
.sold-overlay.after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0, .6);
}
.sold-overlay .sold-text{
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

